<% content_for :header do -%>
  客户 - <%= @organize.name %>
<% end -%>

<table class="overview">
	<%= cell "联系信息", simple_format(@organize.contact) %>
	<%= cell "登录帐号", link_to(@organize.user.login, show_user_admin_organize_path(@organize, :user_id => @organize.user.id)) if @organize.user %>
	<%= cell "登录帐号", link_to('创建', new_user_admin_organize_path(@organize)) unless @organize.user%>
</table>

<%= link_to 'Edit'[], edit_admin_organize_path(@organize) %> |
<%= link_to 'Back'[], admin_organizes_path %>
