<% content_for :header do -%>
	<%= session[:mail_box][] %>
<% end -%>

<% content_for :sidebar do -%>
  <ul>
    <li><%= rezm_link_to_inbox %></li>
    <li><%= rezm_link_to_outbox %></li>
    <li><%= rezm_link_to_trash_bin %></li>
  </ul>
  <%= render :partial => 'shared/activity' -%>
<% end -%>
	
<table><tr>
  <td width="40px"><%= avatar_for rezm_sender_or_receiver(@message), :thumb %></td>
  <td>
    <p>
      <label for="message_sender_name" ><strong><%= rezm_to_or_from_label %>:</strong></label>
      <%= rezm_sender_or_receiver_link(@message) %>
      <%= rezm_sent_at(@message) %>
    </p>

    <p>
      <label for="message_subject" ><strong><%= 'Subject'[] %>:</strong></label>  
      <%=h @message.subject %>
    </p>

    <div class="box">
      <%= simple_format(h(@message.body)) %>
    </div>
    <p>
      <%= rezm_button_to_reply(@message) %> |
      <%= rezm_button_to_delete(@message) %>
    </p>
  </td>
</tr></table>
  
