<% form_for(@blog) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label "Tags"[] %>(<%= 'Separate tags by commas'[] %>)<br />
    <%= f.text_field :tag_list, :size => 60 %>
  </p>
  <p>
    <%= f.submit @blog.new_record? ? "Create"[] : "Update"[] %>
    <%= button_to_function 'Cancel'[], "history.back()" %>
  </p>
<% end %>
