<tr><td>
  <h3><%= link_to h(blog.title), blog %></h3>

  <div class="box">
    <%= simple_format h(blog.body) %>
  </div>

  <p>
    <%= user_link blog.user %>
    写于 <%= time_ago_in_words(blog.created_at) %>前 |
    <%= link_to "#{blog.comments.size}个评论", blog_path(blog) %>
    <%- if current_user == blog.user -%>
      | <%= link_to 'Edit'[], edit_blog_path(blog) %>
      | <%= link_to 'Delete'[], blog_path(blog), :method => :delete, :confirm => "You are deleting '{object}'. Are you sure?"[:confirm_alert, blog.title] %>
    <%- end -%>
  </p>
</td></tr>