<% rss_url = @user ? formatted_blogs_url(:rss, :user => @user.login) : formatted_blogs_url(:rss) %>

<%- content_for :css do -%>
  <%= auto_discovery_link_tag(:rss, rss_url) %>
<%- end -%>

<%- content_for :header do -%>
  <div style="float:right;"><%= link_to image_tag('icons/feed.gif'), rss_url, :title => "Subscribe to {blog}"[:subscribe_blog, "[#{s(:site_name)}] #{blog_title(@user)}"] %></div>
	<%= blog_title @user %>
	<%- if params[:tag] -%>- <%= params[:tag] %><%- end -%>
	<%= search_title params[:search] %>
<%- end -%>

<%- content_for :sidebar do -%>
  <ul>
    <% if current_user == @user %><li><%= link_to 'Add new blog'[], new_blog_path %></li><% end %>
  </ul>
  
  <%= render :partial => 'shared/search', :locals => {:object => "blogs"[]} if search_enabled? -%>
  
  <h2><%= 'Tags'[] %></h2>
  <p>
  <%- tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| -%>
    <%= link_to tag.name, { :tag => tag.name }, :class => css_class %>
  <%- end -%>
  <%- if @tags.empty? -%><%= 'No tags'[] %><%- end -%>
  </p>
  
  <%#= render :partial => 'shared/activity' -%>
<%- end -%>

<table class="index">
  <%= render :partial => 'blog', :collection => @blogs %>
  <% if @blogs.empty? %><tr><td><%= "No record"[] %></td></tr><% end %>
</table>

<%= will_paginate @blogs %>

<% if current_user == @user %><h2><%= link_to 'Add new blog'[], new_blog_path %></h2><% end %>