<% content_for :header do -%>
	<%= @blog.user.name %>的日志
<% end -%>

<% content_for :sidebar do -%>
  <%= render :partial => 'shared/activity' -%>
<% end -%>

<table class="index"><tr><td>
  <h3><%=h @blog.title %></h3>

  <%- unless @blog.tag_list.blank? -%>
    <p><%= "Tags"[] %>: <%= @blog.tag_list %></p>
  <%- end -%>
  
  <div class="box">
    <%= simple_format auto_link(sanitize @blog.body) %>
  </div>

  <p>
    <%= user_link @blog.user %>
    写于 <%= time_ago_in_words(@blog.created_at) %> ago
    <%- if current_user == @blog.user -%>
      <%= link_to 'Edit'[], edit_blog_path(@blog) %> |
      <%= link_to 'Delete'[], blog_path(@blog), :method => :delete, :confirm => "You are deleting '{object}'.\nAre you sure?"[:confirm_alert, @blog.title] %>
    <%- end -%>
  </p>
</td></tr></table>

<h2><%= "Comments"[] %></h2>
<table id="comments">
  <%= render :partial => 'comment', :collection => @blog.comments %>
</table>

<div style="margin-left:80px;">
<%- if logged_in? -%>
  <% form_remote_tag :url => add_comment_blog_path(@blog), :html => { :id => "comment_form" } do |f| %>
    <%= text_area_tag :comment, nil, :class => "comment" %><br/>
    <%= submit_tag "Publish"[] %>
  <% end %>
<%- else -%>
  <div id="notice"><%= link_to "Log in"[], login_url %> to comment.</div>
<%- end -%>
</div>

