<% content_for :header do -%>
	<%= @forum.title %>
	<%= search_title params[:search] %>
<% end -%>

<% content_for :sidebar do -%>
  <ul>
    <%- if logged_in? -%><li><%= link_to "Add new topic"[], "javascript:$('topic_name').focus();" %></li><% end %>
  </ul>
  
  <%= render :partial => 'shared/activity' -%>
<% end -%>

<table class="index">
  <%= render :partial => 'topic', :collection => @topics %>
  <% if @topics.empty? %><tr><td><%= "No record"[] %></td></tr><% end %>
</table>

<%= will_paginate @topics %>

<%- if logged_in? -%>
  <h2><%= "Add new topic"[] %></h2>
  <% form_for(:topic) do |f| %>
    <%= f.text_field :name, :size => 60 %>
    <%= f.submit "Create"[] %>
  <% end %>
<% end %>
