<%- content_for :header do -%>
	<%= "Add new topic"[] %>
<%- end -%>

<% form_for(@topic) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "name"[:subject] %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create"[] %>
    <%= button_to_function 'Cancel'[], "history.back()"%>
  </p>
<% end %>
