<% content_for :header do -%>
  <%= link_to forum_title(@forum), forum_topics_path(@forum) %> - <%= @topic.name %>
<% end -%>

<% content_for :sidebar do -%>
  <ul>
    <%- if @forum.owner -%><li><%= link_to_owner @forum.owner %></li><%- end -%>
    <%- if logged_in? -%><li><%= link_to "Reply"[], "javascript:$('comment').focus();" %></li><%- end -%>
  </ul>
  <%= render :partial => 'shared/activity' -%>
<% end -%>

<table id="comments" class="overview">
  <%= render :partial => 'comment', :collection => @topic.comments %>
</table>

<div style="margin-left:80px;">
<%- if can_reply?(@forum) -%>
    <%- form_remote_tag :url => add_comment_forum_topic_path(@forum, @topic), :html => {:id => 'comment_form'} do -%>
    	<%= text_area_tag :comment, nil %><br/>
    	<%= submit_tag 'Reply'[] %>
    <%- end -%>
<%- elsif @forum.owner -%>
  <div id="notice"><%= link_to "Join"[], join_group_path(@forum.owner), :method => :put %> <%= 'to reply'[] %>.</div>
<%- else -%>
  <div id="notice"><%= link_to "Log in"[], login_path %> <%= 'to reply'[] %>.</div>
<%- end -%>
</div>
