<%- content_for :header do -%>
	<%= 'Chatrooms'[] %>
<%- end -%>

<%- content_for :sidebar do -%>
  <%= render :partial => 'shared/activity' -%>
<%- end -%>

<table class="index">
  <%= render :partial => 'chatroom', :collection => @chatrooms %>
  <% if @chatrooms.empty? %><tr><td><%= "No record"[] %></td></tr><% end %>
</table>

<%= will_paginate @chatrooms %>

<%- if logged_in? -%>
  <h2><%= link_to 'Add new chatroom'[], new_chatroom_path %></h2>
<%- end -%>