<% content_for :header do -%>
	<%= "Edit group"[] %>
<% end -%>

<div>
  <div style="float:right;"><%= image_tag @group.logo.url(:medium) %></div>
  <% form_for(@group, :html => { :multipart => true }) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label "Name"[] %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label "Description"[] %><br />
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.label "Tags"[] %>(<%= 'Separate tags by commas'[] %>)<br />
      <%= f.text_field :tag_list, :size => 60 %>
    </p>
    <p>
      <%= f.label "Privacy"[] %><br />
      <%= f.radio_button :privacy, 'Public' %>Public<br/>
      <%= f.radio_button :privacy, 'Protected' %>Protected
    </p>
    <p>
      <%= f.label "Group logo"[] %><br/>
      <%= f.file_field :logo %>
    </p>
    <p>
      <%= f.submit "Update"[] %>
      <%= button_to_function 'Cancel'[], "history.back()" %>
    </p>
  <% end %>
</div>