<%- content_for :header do -%>
	<%= 'Groups'[] %>
	<%= search_title params[:search] %>
<%- end -%>

<%- content_for :sidebar do -%>
  <%= render :partial => 'shared/search', :locals => {:object => "groups"[]} if search_enabled? -%>
  <%= render :partial => 'shared/activity' -%>
<%- end -%>

<table class="index">
  <%= render :partial => 'group', :collection => @groups %>
  <% if @groups.empty? %><tr><td><%= "No record"[] %></td></tr><% end %>
</table>

<%= will_paginate @groups %>

<%- if logged_in? -%>
  <h2><%= link_to 'Add new group'[], new_group_path %></h2>
<%- end -%>