<% content_for :header do -%>
	<%= "Group"[] %> - <%=h @group.name %>
<% end -%>

<%- content_for :sidebar do -%>
  <%- if @group.user == current_user && !@group.requesting_members.empty? -%>
  <h2><%= 'Requesting users'[] %></h2>
  <table class="index">
    <%- for member in @group.requesting_members -%>
    <tr id="member_<%= member.id %>">
      <td width="40" class="top"><%= avatar_for member, 'thumb' %></td>
      <td class="top">
        <b><%= link_to h(member.name), profile_path(member) %></b>
        [<%= link_to 'Accept'[], accept_group_path(@group, :user_id => member.id), :method => :put %> |
        <%= link_to_remote 'Ignore'[], :url => reject_group_path(@group, :user_id => member.id), :method => :put, :success =>visual_effect(:toggle_appear, "member_#{member.id}") %>]
      </td>
    </tr>
    <%- end -%>
  </table>
  <%- end -%>
  
  <h2><%= 'New members'[] %></h2>
  <table class="index">
    <%= render :partial => 'member', :collection => @group.group_users.recent(5).collect {|gu| gu.user} -%>
  </table>
<%- end -%>

<table class="index"></tr>
<td width="85">
  <%= image_tag @group.logo.url, :align => "top" %>
</td>
<td>
  <p><%=h @group.description %></p>
  <div>
  <%= "Created"[] %> <%= time_ago_in_words @group.created_at %> ago |
  <%- if @group.user == current_user -%>
    <%= "I am the owner of this group."[] %> |
    <%= link_to 'Edit'[], edit_group_path(@group) %>
  <%- elsif @group.has_member?(current_user) -%>
    <%= "I am a member of this group."[] %>
    <%= link_to "Leave"[], leave_group_path(@group), :method => :put %>
  <%- elsif @group.has_requesting?(current_user) -%>
    <%= "I have applied to join this group."[] %>
  <%- else -%>
    <%= link_to "Join"[], join_group_path(@group), :method => :put %>
  <%- end -%>
  </div>
</td>
</tr></table>

<h2><%= 'Recent topics'[] %></h2>
<table class="index">
  <%= render :partial => 'topics/topic', :collection => @topics %>
  <% if @topics.empty? %><tr><td><%= "No record"[] %></td></tr><% end %>
</table>

<%- if logged_in? && @forum -%>
  <h2><%= "Add new topic"[] %></h2>
  <% form_for(:topic, :url => forum_topics_path(@forum)) do |f| %>
    <%= f.text_field :name, :size => 60 %>
    <%= f.submit "Create"[] %>
  <% end %>
<% end %>