<tr id="user_<%= user.id %>">
  <td width="85" class="top"><%= avatar_for user %></td>
  <td class="top">
    <div style="padding:5px 0;">
      <span style="font-size:1.2em;font-weight:bold;"><%= link_to h(user.name), profile_path(user) %></span>
      <%- unless current_user == user -%>
    	  <p>
    	    <%= link_to "{user}'s {object}"[:whose_object, user.name, "blog"[]], blogs_path(:user => user.name) %> |
          <%= link_to 'Send a message'[:compose], new_message_path(:id => user.id) %>
    	  </p>
    	<%- end -%>
    </div>
  </td>
</tr>