<% content_for :header do -%>
	Change my password
<% end -%>

<% form_for :user, @user, :url => update_password_user_url(@user), :html => {:method => :put} do |f| %>

	<h3>Your current password</h3>

	<p>To prevent abuse, please enter your current password.</p>

	<p><%= password_field_tag 'current_password', '', :size => 20 %></p>

	<h3>Your new password</h3>

	<p>Please enter your new password (and the confirmation) below.</p>

	<p><%= password_field_tag 'new_password', '', :size => 20 %></p>

	<p><%= password_field_tag 'new_password_confirmation', '', :size => 20 %></p>

	<p><%= submit_tag "Change my password" %> or <%= link_to "forget about it", profile_url(@user) %></p>
	
<% end %>