<% content_for :header do -%>
	Password Recovery
<% end -%>

<% unless @user.nil? %>
	<% if @user.active? %>
		<p>An email containing further instructions has been dispatched to you at <em><%= @user.email %></em>.</p>
		<p>Please follow the instructions in the email to recover your account's password.</p> 
	<% else %>
		<p>Your account is currently not active. You cannot reset your password when your account is not active.</p>
		<p>Please contact <%= s(:support_name) %> at <%= secure_mail_to s(:support_email) %>
	<% end %>
<% else %>
	<p>Please enter the login or email address associated with your account. We will send you an email with further instructions shortly.</p>

	<% form_tag user_forgot_password_url, :method => :put do %>
		<p><label>Your login or email address</label><br />
		<%= text_field_tag :email_or_login %></p>
	
		<div id="submitbutton">
			<p><%= submit_tag 'Recover my password &raquo;' %></p>
		</div>
	<% end %>
<% end %>