<% content_for :header do -%>
	<%= "Users"[] %>
	<%= search_title params[:search] %>
<% end -%>

<% content_for :sidebar do -%>
  <%= render :partial => 'shared/search', :locals => {:object => "users"[]} -%>
  <%= render :partial => 'shared/activity' -%>
<% end -%>

<table class="index">
  <%= render :partial => 'user', :collection => @users %>
</table>

<%= will_paginate @users %>