<ul>
	<li><%= tab_to "Dashboard"[], [{:controller => "dashboard" }] %></li>
	<li><%= tab_to "Users"[], [{:controller => "users"}] %></li>
	<li><%= tab_to "Blog"[], [{:controller => "blogs"}] %></li>
	<li><%= tab_to "Documents"[], [{:controller => "documents"}] %></li>
	<li><%= tab_to "Chatrooms"[], [{:controller => "chatrooms"}] %></li>
	<li><%= tab_to "Forum"[], [{:controller => "topics"}] %></li>
	<li><%= tab_to "Events"[], [{:controller => "events"}] %></li>
	<%- if logged_in? -%>
	<li>
	  <%- if current_user.unread_messages.size > 0 -%>
	  <%= tab_to "Messages({count})"[:message_state, current_user.unread_messages.size], [{:controller => "messages"}] %>
	  <%- else -%>
	  <%= tab_to "Messages"[], [{:controller => "messages"}] %>
	  <%- end -%>
	</li>
	<%- end -%>
</ul>
