<tr>
  <td width="80">
    <%= avatar_for event.user %>
  </td>
  <td>
    <div style="font-size:1.2em;margin-bottom:5px;">
      <%= link_to h(event.title), event, :style => "font-size:1.2em;font-weight:bold;" %>
      <%= event.start_time.to_s :short %>
      <% unless event.end_time.nil? -%>
      - <%= event.end_time.to_s :short %>
      <% end -%>
    </div>
    <div class="box">
      <%= simple_format auto_link(sanitize event.description) %>
    </div>
    <div>
      <%= user_link event.user %> <%= "Created"[] %>
      <%= time_ago_in_words(event.created_at) %> ago
      <% if current_user == event.user -%>
      | <%= link_to "Edit"[],  edit_event_path(event) %>
      <% end -%>
    </div>
    <%- unless event.event_attendees_count == 0 -%>
    <p>
      <%= "{size} {objects}"[:number_of_objects, event.event_attendees_count, "attendees"[]] %> |
      <%= link_to "{size} {object}"[:number_of_objects, event.comments.size, "comments"[]], event_path(event) %>
    </p>
    <%- end -%>
    <%- if logged_in? -%>
    <p>
      <% unless event.attending?(current_user) -%>
      <%= link_to "I attend"[], attend_event_path(event), :method => :post %>
      <% else -%>
      <%= link_to "I quit"[], unattend_event_path(event), :method => :delete %>
      <% end -%>
    </p>
    <%- end -%>
  </td>
</tr>
