<% content_for :header do -%>
	<%= 'Events'[] %>
<% end -%>

<% content_for :sidebar do -%>
  <%= render :partial => 'calendar', :locals => { :events => @month_events, :date => @date } %>

  <ul>
    <%- if logged_in? -%><li><%= link_to "Add new event"[], new_event_path %></li><% end -%>
  </ul>
  <%= render :partial => 'shared/activity' -%>
<% end -%>

<div style="float:right;width:200px;">
  
</div>

<table class="index">
  <%= render :partial => @events %>
  <% if @events.empty? %><tr><td><%= "No record"[] %></td></tr><% end %>
</table>

<%- if logged_in? -%><h2><%= link_to "Add new event"[], new_event_path %></h2><% end -%>
  
