<%- content_for :header do -%>
	<%= "Event"[] %> - <%= @event.title %>
<%- end -%>

<%- content_for :sidebar do -%>
  <%= render :partial => 'shared/activity' -%>
<%- end -%>

<table class="index">
  <%= render :partial => @event %>
</table>

<h2><%= "Attendees"[] %></h2>
<%- unless @attendees.empty? -%>
  <table>
    <%- @attendees.in_groups_of(5, false) do |row_attendees| -%>
    <tr>
      <%- row_attendees.each do |attendee| -%>
      <td align="center">
      <%= avatar_for attendee %><br/>
      <%= user_link attendee %>
      </td>
      <%- end -%>
    </tr>
    <%- end -%>
  </table>
<%- else -%>
  <p>
    <%= "No attendees"[]%>
  </p>
<%- end -%>

<h2><%= "Comments"[] %></h2>
<table id="comments">
  <%= render :partial => 'comment', :collection => @event.comments %>
</table>
<div style="margin-left:80px;">
<%- if logged_in? -%>
  <% form_remote_tag :url => add_comment_event_path(@event), :html => { :id => "comment_form" } do |f| %>
    <%= text_area_tag :comment, nil, :class => "comment" %><br/>
    <%= submit_tag "Publish"[] %>
  <% end %>
<%- else -%>
  <div id="notice"><%= link_to "Log in"[], login_url %> to comment.</div>
<%- end -%>
</div>


