<table>
  <caption>基本信息</caption>
  <tr>
    <td align="right">订单编号</td><td colspan="3"><%= f.text_field :order_number %></td>
  </tr>
  <tr>
    <td align="right">核查单号</td><td><%= f.text_field :audit_number, :size => 15 %></td>
    <td align="right">核算日期</td><td><%= f.date_select :audit_at %></td>
  </tr>
  <tr>
    <td align="right">客户名称</td><td><%= f.select :customer_id, Organize.find(:all).collect {|o| [o.name, o.id]}, {:include_blank => '直接用户' } %></td>
    <td align="right">付款方</td><td><%= f.select :user_id, Organize.find(:all).collect {|o| [o.name, o.id]} %></td>
  </tr>
  <tr>
    <td align="right">客户经理</td><td><%= f.select :manager_id, User.find(:all).collect {|user| [user.login, user.id]} %></td>
    <td align="right">状态</td><td><%= f.select :state, Order::STATES %></td>
  </tr>
</table>
<table>
  <caption>用户端信息</caption>
  <tr>
    <td align="right">用户端名称</td><td colspan="3"><%= f.text_field :account_name %></td>
  </tr>
  <tr>
    <td align="right">联系信息</td><td colspan="3"><%= f.text_area :account_contact %></td>
  </tr>
</table>
<table>
  <caption>产品信息</caption>
  <tr>
    <td align="right">产品</td>
    <td>
      <select id="order_product_id" name="order[product_id]">
        <option value=""></option>
        <%= option_groups_from_collection_for_select Product.find_all_by_parent_id(nil), :children, :name, :id, :name, @order.product_id %>
      </select>
    </td>
    <td align="right">速率</td><td><%= f.select :port_rate, Order::PORT_RATES, {:include_blank => true } %></td>
  </tr>
  <tr>
    <td align="right">安装费</td><td><%= f.text_field :install_fee, :size => 10 %>元</td>
    <td align="right">租金</td><td><%= f.text_field :rent_fee, :size => 10 %>元</td>
  </tr>
  </tr>
</table>
<table>
  <caption>甲端</caption>
  <tr>
    <td align="right">接口类型</td><td><%= f.select :a_access_type, Order::ACCESS_TYPES %></td>
    <td align="right">接入设备</td><td><%= f.text_field :a_access_device %></td>
  </tr>
  <tr>
    <td align="right">接入地址</td><td><%= f.text_area :a_address, :style => "width:250px;" %></td>
    <td align="right">联系人</td><td><%= f.text_area :a_contact, :style => "width:250px;" %></td>
  </tr>
</table>
<table>
  <caption>乙端</caption>
  <tr>
    <td align="right">接口类型</td><td><%= f.select :b_access_type, Order::ACCESS_TYPES %></td>
    <td align="right">接入设备</td><td><%= f.text_field :b_access_device %></td>
  </tr>
  <tr>
    <td align="right">接入地址</td><td><%= f.text_area :b_address, :style => "width:250px;" %></td>
    <td align="right">联系人</td><td><%= f.text_area :b_contact, :style => "width:250px;" %></td>
  </tr>
</table>
<!-- <table>
  <caption>状态</caption>
  <tr>
    <td align="right">状态</td><td><%= f.select :state, Order::STATES %></td>
    <td align="right">确认人</td><td><%= f.select :confirm_user_id, User.find(:all).collect {|user| [user.login, user.id]} %></td>
    <td align="right">确认时间</td><td><%= f.date_select :confirm_at %></td>
  </tr>
</table> -->
<hr size="1"/>