<%- content_for :header do -%>
	<%= 'Documents'[] %>
	<%= search_title params[:search] %>
<%- end -%>

<%- content_for :sidebar do -%>
  <ul>
    <%- if logged_in? -%><li><%= link_to 'Add new document'[], new_document_path %></li><% end -%>
  </ul>
  <%= render :partial => 'shared/search', :locals => {:object => "documents"[]} -%>
  <%= render :partial => 'shared/activity' -%>
<%- end -%>

<table class="index">
  <%= render :partial => 'document', :collection => @documents %>
  <% if @documents.empty? %><tr><td><%= "No record"[] %></td></tr><% end %>
</table>

<%= will_paginate @documents %>

<%- if logged_in? -%><h2><%= link_to 'Add new document'[], new_document_path %></h2><% end -%>