<% content_for :header do -%>
  <%= 'Edit forum'[] %>
<% end -%>

<% content_for :sidebar do -%>

<% end -%>

<% form_for(@forum, :url => admin_forum_path(@forum)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Update"[] %>
    <%= button_to_function 'Cancel'[], "history.back()" %>
  </p>
<% end %>
