<% content_for :header do -%>
	base_app Users
<% end -%>

<% content_for :sidebar do -%>
	<ul>
		<li><%= link_to "All users", admin_users_url %></li>
		<li><%= link_to "Active users only", active_admin_users_url %></li>
		<li><%= link_to "Suspended users only", suspended_admin_users_url %></li>
		<li><%= link_to "Pending users only", pending_admin_users_url %></li>
		<li><%= link_to "Deleted users only", deleted_admin_users_url %></li>
	</ul>
<% end -%>

<table class="index">
  <tr>
	<th>ID</th>
	<th>Login</th>
	<th>Email</th>
	<th>Status</th>
  </tr>

<% # TODO: (base_app) Add some sort of search feature to easily find users %>
<% for user in @users %>
  <tr>
	<td><%=h user.id %></td>
	<td><%=h user.login %></td>
	<td><%=h user.email %></td>
	<td><%=h user.state %></td>
    <td class="actions">
		<%= link_to 'Show', admin_user_url(user) %>
    	<%= link_to 'Edit', edit_admin_user_path(user) %>
	</td>
  </tr>
<% end %>
</table>

<%= will_paginate @users %>

<p>
	<%= link_to 'New user', new_admin_user_path %>
</p>