<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= 'site_name'[] %></title>
	
	<%= stylesheet_link_tag 'default' %>
	<%= stylesheet_link_tag 'calendar/blue/style' %>
  <%= javascript_include_tag :defaults %>
  <%= calendar_date_select_includes %>
</head>

<body>

  <div id="header">
    <div id="global_links">
      <%= render :partial => 'shared/global_links' %>
    </div>
    <h1><%= "site_name"[] %> <span><%= "company_name"[] %></span></h1>

    <div id="tabs">
      <%= render :partial => 'shared/tabs' %>
    </div>
  </div>

  <div id="main">

    <div id="left">
	    <% if flash[:notice] %>
        <div id="notice"><%= flash[:notice] %></div>
      <% end %>

	    <% if flash[:warning] %>
        <div id="warning"><%= flash[:warning] %></div>
      <% end %>

	    <% if flash[:error] %>
        <div id="error"><%= flash[:error] %></div>
      <% end %>

      <h2 class="head"><%= yield_or_default yield(:header), "Use 'content_for :header do; end' in your view to set this title" %></h2>

      <div id="screen">
        <%= yield %>
      </div>
    </div>
    <div id="right">
      <%= yield_or_default(yield(:sidebar)) %>
    </div>
  </div>
  <div id="footer">
    <%= 'site_name'[] %> 
	  © <%= 'company_name'[] %>
	  [<% if cookies[:lang] == 'en-US' -%>
      English |
      <%= link_to_remote '简体中文', :url => choose_lang_path(:lang => 'zh-CN'), :success => "window.location.reload();", :method => :put %>
    <% else -%>
      <%= link_to_remote 'English', :url => choose_lang_path(:lang => 'en-US'), :success => "window.location.reload();", :method => :put %> |
      简体中文
    <% end -%>]
  </div>


</body>
</html>
